################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorService/obj
/CalculatorService/bin/Debug/net8.0
/CalculatorService/.vs/CalculatorService
/CalculatorService/.vs/ProjectEvaluation
